<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/css/style.css">
    <title>Titre</title>
</head>

<body>
    <h1 class="hidden">Titre</h1>
    <header>
        <nav>
            <h2 class="hidden">NAV</h2>
            <ul>
                <li>Home</li>
                <li>Travel</li>
                <li>Mega Menu</li>
                <li>Guides</li>
                <li>Food</li>
                <li>Hotel</li>
                <li>Review</li>
                <li>Healthy</li>
                <li>Lifestyle</li>
                <li>Blog</li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2 class="hidden">Titre</h2>
            <section>
            <h2>Hello I'm <span>Steven</span><br>Welcome to my blog</h2>
                    <p>Don't miss out of the latest news about Travel tips, Hotel review, Food guide...</p>
                    <form>
                        <input type="text" placeholder="Enter your email"><button>Subscribe</button>
                    </form>
            </section>
            <section>
                <h2 class="hidden">Reading woman</h2>
                <figure>
                    <img src="https://demos.alithemes.com/html/stories/demo/assets/imgs/authors/featured.png">
                </figure>
            </section>
        </section>
        
        <section>
            <h2 class="hidden">Articles</h2>
                <h3>Recents Posts</h3>
                 <ul id="tags">
                     <li>Hot tags :</li>
                     <li>#Covid-19</li>
                     <li>#Inspiration</li>
                     <li>#Work Online</li>
                     <li>#Stay Home</li>
                 </ul>
        </section>
        
        <section id="articles">
            <h2 class="hidden">Articles</h2>
            <article id="big">
                <section>
                    <h2>Beachmaster Elephant Seal Fights Off Rivals Male..</h2>
                </section>
            </article>
            
            <article id="art2">
                <section>
                    <h2>Want Fluffy's</h2>
                </section>
            </article>
            
            <article id="art3">
                <section>
                    <h2>Customers Shoes</h2>
                </section>
            </article>
            
            
            <article id="art4">
                <section>
                    <h2>Life And Death</h2>
                </section>
            </article>
            
            <article id="art5">
                <section>
                    <h2>Life And Death</h2>
                </section>
            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>
